/*
====================================
About Styling
====================================
*/
#about {
    position: relative;
    top: -80px;
}
.about {
	font-size: 2.5rem;
    font-weight: 200;
    padding: 10%;
    padding-top: 13vh;
    // clear: both;
    width: 80%;
    margin: 0 auto;
}
@include media($sm){
    .about {
        font-size: 1.9rem;
    }
}
@include media($xs){
    .about {
        font-size: 1.6rem;
    }
}

.about p {
	text-align: center;

}