.jumbo-img {
	width: 50%;
	height:375px;
	position: relative;
	top: 152px;
	left:34%;
	z-index: 20;
}

.jumbo-header {
	max-width: 60%;
	font-size: 75px;
	position: relative;
	left: 17.6%;
	font-weight: 900;
	/*top: -152px;*/
	z-index: 30;
}