.jumbotron {
	// background: url(images/waves.jpg) fixed;
}

.jumbo-img {
	height:375px;
	width: 75%;
	position: relative;
	top: 152px;
	left:25%;
	z-index: 20;
	svg {
		width: 80%;
	}
}

.jumbo-header {
	max-width: 60%;
	font-size: 75px;
	position: relative;
	left: 17.6%;
	font-weight: 900;
	/*top: -152px;*/
	z-index: 30;
}