.jumbotron {
	h1 {
		font-family: 'HelveticaNeue-Bold';
		margin:0;
		font-size: 4.5vw;
	}
	h2 {
		margin: 0;
		font-size: 2.2vw;
		letter-spacing: 2px;
	}
}

.jumbo-img {
	position:relative;
	text-align: center;
	margin: auto;
	width: 80%;
}
.jumbo-txt {
	position:absolute;
	top: 39%;
	left: 8%;
	text-transform:uppercase;
}

.jumbo-header {
	font-size: 5vw;
	position: relative;
	z-index: 30;
}