/*
====================================
Portfolio Styling
====================================
*/

#work {
	position: relative;
    top: -120px;
}
.portfolio-content{
}
.portfolio-item {
	position: relative;
	padding-right: 22px;
	border-bottom: 1px dotted #333;
	height: 320px;
	margin-bottom: 100px;
	 @include outer-container;

	@include media($sm) {
		height: auto;
		padding-bottom: 25px;
		margin-bottom: 75px;
		border-bottom: 1px dotted #333;
		p {
			margin: 40px 0;
		}
	}
	h3 {
		font-size: 25px;
		font-weight: 400;
		margin: 0;
		margin-bottom: 20px;
		font-family: 'HelveticaNeue-Light';
	}
	h4 {
		font-size: 20px;
		font-weight: 300;
		margin: 0;
		margin: 10px 0;
	}
	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		padding: 5px;
		margin: 3px 2px;
		border: 1px solid black;
		list-style: none;
		display: inline-block;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.portfolio-item-sec{
	@include span-columns(4);
	@include omega(3n);
	@include media($sm) {
		@include span-columns(12);
	}
}
.portfolio-item-sec2 {
	padding-top: 2vw;
	@include media($sm) {
		padding-top: 0;
	}
	p {
		@include media($sm) {
			margin-top: 0;
		}
	}
}
.portfolio-item-sec3 {
	@include media($sm) {
		margin: 50px 0;
	}
}
.portfolio-item-title{
	
}

.view-live {
	width: 50%;
    background: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    text-align: center;
	color: black;
	margin: auto;
	border: 1px solid black;
	padding: 10px;
	margin-top: 10px;
	transition: all 0.5s ease;
	@include media($sm) {
		margin-left: 25%;
		bottom: 70px;
		margin-bottom: 20px;
	}
	&:hover {
		background: $accent-colour;
		color:white;
	}
}